<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MyMovieList.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>3</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>CCAD5C1B8A5AA8D6F1135F63B0D7E29E3337461A</string>
				<key>dateExpires</key>
				<string>10/05/26</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>VLT2Z6LSH4.com.codehasna.MyMovieList</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>VLT2Z6LSH4</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>MyMovieList.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>30001363-e471-4d7e-9f81-b6f65a436bc9</string>
				<key>dateExpires</key>
				<string>10/05/26</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.codehasna.MyMovieList</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>VLT2Z6LSH4</string>
				<key>name</key>
				<string>M Riza Levandy</string>
			</dict>
			<key>versionNumber</key>
			<string>0.1.0</string>
		</dict>
	</array>
</dict>
</plist>
